<div class="uk-section uk-section-small uk-section-muted">
	<div class="uk-container uk-container-center">
		<div uk-grid>
			<div class="uk-width-1-1">
				<ul class="uk-navbar-nav">
					<li>
						<a class="uk-text-capitalize" href="https://thwiki.cc/THBWiki:%E9%9A%90%E7%A7%81%E6%9D%83%E6%94%BF%E7%AD%96" target="_blank">隐私权政策</a>
					</li>
					<li><a class="uk-text-capitalize" href="https://thwiki.cc/THBWiki:%E5%85%B3%E4%BA%8E" target="_blank">关于THBWiki</a></li>
					<li><a class="uk-text-capitalize" href="https://thwiki.cc/THBWiki:%E5%85%8D%E8%B4%A3%E5%A3%B0%E6%98%8E" target="_blank">免责声明</a></li>
					<li><a class="uk-text-capitalize" href="https://thwiki.cc/THBWiki:%E6%8D%90%E6%AC%BE" target="_blank">捐款支持</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
