<div class="uk-container uk-container-center">
	<nav uk-navbar class="uk-navbar-container uk-navbar-transparent uk-margin uk-padding-small uk-padding-remove-vertical">
		<div class="uk-navbar-left">
			<a class="uk-navbar-item uk-logo" href="/">thgame</a>
		</div>
		<div class="uk-navbar-right">
			<ul class="uk-navbar-nav">
				<li><a class="uk-text-capitalize" href="https://thwiki.cc" target="_blank">THBWiki主站</a></li>
				<li><a class="uk-text-capitalize" href="https://thwiki.cc/%E4%B8%9C%E6%96%B9Project" target="_blank">东方Project</a></li>
				<li><a class="uk-text-capitalize" href="https://thwiki.cc/THBWiki:%E5%85%B3%E4%BA%8E" target="_blank">关于THBWiki</a></li>
			</ul>
		</div>
	</nav>
</div>
